<section class="container" id="work">
  <article class="article  article--work  content  content--center  typeset">
    <h2>My work</h2>
  </article>
  <ul id="portfolio" class="list  list--work"></ul>
</section>
<script type='text/javascript'>
const username = 'mintymograph'
const token = 'c20453f505b35171d808d966ead82ef7495eeefffc5b4e891e7b6b350ce42bdc'
const endpoint = `https://api.dribbble.com/v1/users/${username}/shots?access_token=${token}`

fetch(endpoint)
  .then(blob => blob.json())
  .then(function(data) {
    const html = data.map(item => `
      <li class="item  item--work">
        <a href="${item.html_url}">
          <img src="${item.images.hidpi}" alt="${item.title}" />
        </a>
      </li>
    `).join('')

    document.querySelector('#portfolio').innerHTML = html
  })
</script>
