<div class="form  form--contact">
    <form class="contact-form" action="" method="POST">
        <label class="label" for="name">Name:</label>
        <input class="input" id="name" type="text" name="name" value="" placeholder="Your Name" required="required" />

        <label class="label" for="_replyto">Email Address:</label>
        <input class="input" id="_replyto" type="email" name="_replyto" value="" placeholder="email@website.com" required="required" />

        <label class="label" for="message">Message:</label>
        <textarea class="textarea" id="message" name="message" placeholder="Your message..." required="required"></textarea>

        <input class="button" type="submit" value="Send message" />

				<input type="text" name="_gotcha" style="display:none">
				<input type="hidden" name="_subject" value="Message from {{ site.name }} website">
				<input type="hidden" name="_next" value="/thanks/" />
    </form>
    <script>
    	var email = "{{ site.email | split: "" | reverse | join: "" }}";
    	var unraveledEmail = email.split("").reverse().join("");
    	var form = document.querySelector(".contact-form");
    		form.setAttribute("action", "https://formspree.io/f/xknkgvrr");
	   	form.setAttribute("method", "POST");
    </script>
    <noscript>Please enable JavaScript to use the form.</noscript>
</div>
