---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content  typeset">

    <h1 style="margin-top:30px;margin-bottom:30px;">{{ page.title }}</h1>

    {{ content }}

		{% include nav-share.html %}

		<section class="section  section--related-posts">
			<hr/>
      <h5>Like what you see? Get in touch</h5>
			<p>Fill in the form below so we can start chatting</p>
      {% include site-form.html %}
    </section>

  </article>

	{% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
